html {
	height: 100%;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	background-color: #222;
}

body {
	height: 100%;
	margin: 0rem;
	overflow-y: overlay;
	overflow-x: hidden;
}

p {
	font-size: 0.8125rem;
	text-align: justify;
}

::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-track {
	border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.05);
	border-radius: 0.625rem;
}

a {
	max-height: 1.125rem;
	text-decoration: none;
	color: #ddd;
	font-size: 1rem;
	transition: font-size 0.125s ease-in-out;
}

a:hover {
	font-size: 1.03125rem;
}

#header, #footer span {
	color: #ddd;
}

input {
	height: 2rem;
	background-color: #333;
	padding: 0rem 0.625rem;
	border: none;
	border-bottom: 0.0625rem solid #ddd;
	border-radius: 0.625rem;
	color: #ddd;
	outline: none;
}

button {
	height: 2rem;
	background-color: #333;
	border: none;
	border-radius: 0.625rem;
	color: #ddd;
	outline: none;
}

textarea {
	font-family: inherit;
	background-color: #333;
	border: 0.0625rem solid #ddd;
	border-radius: 0.625rem;
	padding: 0.3125rem;
	color: #ddd;
	outline: none;
	resize: none;
}

/***************************************************************
|                       Custom Image Selects                   |
***************************************************************/
.custom-img-select {
	display: flex;
	width: 100%;
	height: 11rem;
	background-color: #333;
	border: 0.0625rem solid #ddd;
	border-radius: 0.625rem;
	padding: 0.3125rem;
	color: #ddd;
	overflow-x: scroll;
}

.custom-img-select > div {
	width: 10rem;
	height: 10rem;
	padding: 0rem 0.625rem;
}

.custom-img-select > div > img:nth-child(1) {
	width: 10rem;
	height: 10rem;
	object-fit: contain;
}

.custom-img-select > div > img:nth-child(2) {
	position: relative;
	height: 1.625rem;
	width: 1.625rem;
	bottom: 10rem;
	right: 3.375rem;
}

.custom-img-select > div > img:nth-child(3) {
	position: relative;
	height: 1.625rem;
	width: 1.625rem;
	bottom: 10rem;
	left: 4.375rem;
}

.img-select {
	position: absolute;
	top: -100%;
}

/***************************************************************
|                         Custom Selects                       |
***************************************************************/
/*the container must be positioned relative:*/
.custom-select {
	position: relative;
	height: 2rem;
	width: 5rem;
	font-family: Arial;
}

.custom-select select {
	display: none; /*hide original SELECT element:*/
}

.select-selected {
	background-color: #333;
}

.select-selected > span {
	width: 100%;
}

.select-selected > img {
	width: 0.625rem;
	height: 0.625rem;
	margin-right: 0.3125rem;
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
	display: flex;
	justify-content: space-around;
	height: 2rem;
	align-items: center;
	color: #ddd;
	cursor: pointer;
	user-select: none;
}

/*style items (options):*/
.select-items {
	position: absolute;
	background-color: #333;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}

.disabled {
	background-color: #999 !important;
	color: #ccc !important;
}

.disabled:hover {
	background-color: #999 !important;
}

/***************************************************************
|                         mobile phones                        |
***************************************************************/
.clickable {
	cursor: pointer;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100%;
}

#menu {
	position: fixed;
	top: 100%;
	width: 100%;
	height: 100%;
	z-index: 900;
	transition: top 0.4s cubic-bezier(0.32, 0.66, 0.38, 1);
	color: #ddd;
	background-color: #222;
}

#menu > div {
	padding: 0.5rem 1rem;
}

.subMenu {
	list-style: none;
	margin: 0rem;
	padding-left: 2rem;
}

.subMenu > li {
	padding: 0.5rem;
}

.nav-open {
	top: 2.5625rem !important;
}

#header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 2.5625rem;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	background-color: #222;
	border-bottom: solid 0.0625rem #333;
}

#header > div:first-child {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: 0;
}

#header > div:first-child div {
	margin: 0.625rem;
}

.nav-button {
	width: 2.125rem;
	height: 1.3125rem;
	display: block;
	cursor: pointer;
	margin: auto 0;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.nav-button span {
	display: block;
	position: absolute;
	height: 0.1875rem;
	width: 100%;
	background: #ddd;
	border-radius: 0.4375rem;
	left: 0;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.nav-button span:nth-child(1) {
	top: 0;
}

.nav-button span:nth-child(2), .nav-button span:nth-child(3) {
	top: 0.5625rem;
}

.nav-button span:nth-child(4) {
	top: 1.125em;
}

.nav-button.open span:nth-child(1) {
	top: 0.5625rem;
	width: 0%;
	left: 50%;
}

.nav-button.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.nav-button.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.nav-button.open span:nth-child(4) {
	top: 0.5625rem;
	width: 0%;
	left: 50%;
}

#loadingScreen {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0rem;
}

#loadingScreen > div {
	width: 20rem;
	height: 10rem;
	background-color: #ddd;
	color: #222;
	border-radius: 0.625rem;
}

#content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2.5625rem;
	padding: 1rem;
	color: #ddd;
}

#content > div {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	text-align: center;
}

#newLocFile, #filterProducts {
	width: 100%;
	margin: 0rem 0.625rem;
}

#newProduct > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.625rem;
	margin-bottom: 0rem;
}

#list {
	width: 100%;
	padding: 1rem;
}

.viewer {
	display: flex;
	flex-direction: row;
	border: solid 0.0625rem #ddd;
	border-radius: 0.625rem;
}

.viewer > div:last-child > img {
	width: 10rem;
	height: 10rem;
	object-fit: contain;
}

.viewer > div:last-child {
	width: 10rem;
	height: 10rem;
	padding: 0.625rem;
}

.miniViewer {
	display: flex;
	max-height: 10rem;
	flex-direction: column;
	padding: 0.625rem;
	overflow-y: overlay;
}

.miniViewer::-webkit-scrollbar {
	display: none;
}

.miniViewer > img {
	width: 5rem;
	height: 5rem;
	margin: 0.3125rem 0rem;
	background-color: #ddd;
	object-fit: contain;
}

.bigViewer {
	position: fixed;
	display: none;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	top: 0rem;
	left: 0rem;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	color: #ddd;
	z-index: 999;
}

.bigViewer > img {
	max-width: 100%;
	max-height: 70%;
	object-fit: contain;
}

.bigViewer > div {
	display: flex;
	justify-content: space-between;
	width: 80%;
	height: 15%;
	overflow-x: overlay;
}

.bigViewer > div::-webkit-scrollbar {
	display: none;
}

.bigViewer > div > img {
	height: 100%;
	padding: 0rem 0.625rem;
	object-fit: contain;
}

#lens {
	position: absolute;
	background-color: rgba(221, 221, 221, 0.5);
}

#zoom {
	display: none;
	position: absolute;
	left: 30%;
	top: 5%;
	background-repeat: no-repeat;
	border-radius: 0.625rem;
	box-shadow: -0.3125rem 0.3125rem 2rem #222;
}


/* List like disposition */
.lst {
	display: flex;
	flex-direction: column !important;
	align-items: center;
}

.lst .sticker {
	width: 100%;
	height: 5rem;
	display: flex;
	flex-direction: row;
	border: solid 1px #ddd;
	margin: 1rem 0rem;
}

.lst .sticker * {
	padding: 0rem 0.3125rem;
}

/* Product prev image */
.lst .sticker > div:nth-child(1) > img {
	width: 5rem;
	height: 5rem;
	object-fit: contain;
}

/* Product title and description */
.lst .sticker > div:nth-child(2) {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.lst .sticker > div:nth-child(2) > * {
	padding: 0.3125rem 0rem;
}

.lst .sticker > div:nth-child(2) > :nth-child(1) {
	font-size: 0.875rem;
	font-weight: bold;
}

.lst .sticker > div:nth-child(2) > :nth-child(2) {
	font-size: 0.6875rem;
}

.lst .sticker > div:nth-child(2) > :nth-child(3) {
	display: none;
	position: absolute;
	height: -webkit-fill-available; /* Check comptability */
	right: 0rem;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.75);
}

.lst .sticker > div:nth-child(2) :nth-child(3) > input {
	height: 1.3125rem;
	width: 50%;
	text-align: center;
}

/* Product price and buying buttons */
.lst .sticker > div:nth-child(3) {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.lst .sticker > div:nth-child(3) > :nth-child(n+2) {
	display: flex;
	height: 2rem;
	justify-content: center;
	align-items: center;
}

.lst .sticker > div:nth-child(3) > :nth-child(1) {
}

.lst .sticker > div:nth-child(3) > :nth-child(2) {
}

.lst .sticker > div:nth-child(3) > :nth-child(3) {
	display: none;
}

/* Sticker like disposition */
.stk {
	display: flex;
	flex-direction: row !important;
	flex-wrap: wrap;
	justify-content: center;
}

.stk .sticker {
	position: relative;
	height: 18rem;
	width: 7.625rem;
	display: flex;
	flex-direction: column;
	border: solid 1px #ddd;
	margin: 0.625rem 0.3125rem;
	padding: 0rem 0.3125rem;
}

/* Product prev image */
.stk .sticker > div:nth-child(1) > img {
	width: 7rem;
	height: 7rem;
	object-fit: contain;
}

/* Product title and description */
.stk .sticker > div:nth-child(2) {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.stk .sticker > div:nth-child(2) > * {
	padding: 0.3125rem 0rem;
}

.stk .sticker > div:nth-child(2) > :nth-child(1) {
	font-weight: bold;
}

.stk .sticker > div:nth-child(2) > :nth-child(2) {
	font-size: 0.6875rem;
}

.stk .sticker > div:nth-child(2) > :nth-child(3) {
	cursor: default;
	position: absolute;
	height: inherit;
	bottom: 0rem;
	display: none;
	align-items: flex-end;
	justify-content: center;
	background: linear-gradient(rgba(0, 0, 0, 0.75) 90%, transparent 100%);
	
}

.stk .sticker > div:nth-child(2) :nth-child(3) > input {
	height: 1.3125rem;
	width: 50%;
	text-align: center;
	margin-bottom: 1rem;
}

/* Product price and buying buttons */
.stk .sticker > div:nth-child(3) {
	height: 4.115rem;
}

.stk .sticker > div:nth-child(3) > :nth-child(n+2) {
	position: absolute;
	width: 100%;
	bottom: 0rem;
	left: 0rem;
	display: flex;
	height: 2rem;
	justify-content: center;
	align-items: center;
}

.stk .sticker > div:nth-child(3) > :nth-child(1) {
	position: absolute;
	top: 0rem;
	right: 0rem;
}

.stk .sticker > div:nth-child(3) > :nth-child(2) {
}

.stk .sticker > div:nth-child(3) > :nth-child(3) {
	display: none;
}

.element {
	display: flex;
	flex-direction: column !important;
	width: 100%;
	margin: 0.625rem 0rem;
}

.element:not(:first-child) {
	border-top: 0.0625rem solid #ddd;
}

.row {
	width: 100%;
	display: flex;
	flex-direction: row !important;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0.625rem 0rem;
}

.row > * {
	margin: 0.3125rem;
}

.crow {
	width: 100%;
	display: flex;
	flex-direction: row !important;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0.625rem 0rem;
}

.crow > * {
	margin: 0.3125rem;
}

.align-right {
	justify-content: flex-end;
}

.align-left {
	justify-content: flex-start;
}

#footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 3.125rem;
	border-top: solid 0.0625rem #333;
}

#footer div span {
	text-align: center;
}

#footer :first-child {
	margin-top: 0.625rem;
}

#footer :last-child {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#footer :nth-child(odd) span {
	font-weight: bold;
}

#footer :nth-child(even) {
	margin-bottom: 1.25rem;
}

#footer :last-child a {
	margin-bottom: 0.3125rem;
}
