@keyframes noJsTransition {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@font-face {
    font-family: 'bespokeeh8ejagekt';
    src: url('./font/tightAllCaps/tightAllCaps.eot');
    src: url('./font/tightAllCaps/tightAllCaps.eot?#iefix') format('embedded-opentype'),
         url('./font/tightAllCaps/tightAllCaps.woff2') format('woff2'),
         url('./font/tightAllCaps/tightAllCaps.woff') format('woff'),
         url('./font/tightAllCaps/tightAllCaps-webfont.svg#tightAllCaps') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
	height: 100%;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	background-color: #222;
}

body {
	height: 100%;
	margin: 0rem;
	overflow-y: overlay;
	overflow-x: hidden;
}

p {
	font-size: 0.8125rem;
	text-align: justify;
}

::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.05);
	border-radius: 0.625rem;
}

a {
	text-decoration: none;
	color: orange;
	font-size: 1rem;
	font-family: 'bespokeeh8ejagekt';
	text-transform: uppercase;
}

#header, #footer span {
	color: #ddd;
}

input {
	height: 2rem;
	background-color: #333;
	padding: 0rem 0.625rem;
	border: none;
	border-bottom: 0.0625rem solid #ddd;
	border-radius: 0.625rem;
	color: #ddd;
	outline: none;
}

button {
	height: 2rem;
	background-color: #333;
	border: none;
	border-radius: 0.625rem;
	color: #ddd;
	outline: none;
}

textarea {
	font-family: inherit;
	background-color: #333;
	border: 0.0625rem solid #ddd;
	border-radius: 0.625rem;
	padding: 0.3125rem;
	color: #ddd;
	outline: none;
	resize: none;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ddd;
	text-transform: none;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	height: 2rem;
	padding: 0 0.625rem;
	background-color: #333;
}

/***************************************************************
|                       Custom Image Selects                   |
***************************************************************/
.custom-img-select {
	display: flex;
	width: 100%;
	height: 11rem;
	background-color: #333;
	border: 0.0625rem solid #ddd;
	border-radius: 0.625rem;
	padding: 0.3125rem;
	color: #ddd;
	overflow-x: scroll;
}

.custom-img-select > div {
	width: 10rem;
	height: 10rem;
	padding: 0rem 0.625rem;
}

.custom-img-select > div > img:nth-child(1) {
	width: 10rem;
	height: 10rem;
	object-fit: contain;
}

.custom-img-select > div > img:nth-child(2) {
	position: relative;
	height: 1.625rem;
	width: 1.625rem;
	bottom: 10rem;
	right: 3.375rem;
}

.custom-img-select > div > img:nth-child(3) {
	position: relative;
	height: 1.625rem;
	width: 1.625rem;
	bottom: 10rem;
	left: 4.375rem;
}

.img-select {
	position: absolute;
	top: -100%;
}

/***************************************************************
|                         Custom Selects                       |
***************************************************************/
/*the container must be positioned relative:*/
.custom-select {
	position: relative;
	height: 2rem;
	width: 5rem;
	font-family: Arial;
}

.custom-select select {
	display: none; /*hide original SELECT element:*/
}

.select-selected {
	background-color: #333;
}

.select-selected > span {
	width: 100%;
}

.select-selected > img {
	width: 0.625rem;
	height: 0.625rem;
	margin-right: 0.3125rem;
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
	display: flex;
	justify-content: space-around;
	height: 2rem;
	align-items: center;
	color: #ddd;
	cursor: pointer;
	user-select: none;
}

/*style items (options):*/
.select-items {
	position: absolute;
	background-color: #333;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}

.disabled {
	background-color: #999 !important;
	color: #ccc !important;
}

.disabled:hover {
	background-color: #999 !important;
}

/***************************************************************
|                         mobile phones                        |
***************************************************************/
.no-js {
	animation: 0.5s linear noJsTransition;
}

.clickable {
	cursor: pointer;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100%;
}

#menu {
	position: fixed;
	top: 100%;
	width: 100%;
	height: 100%;
	z-index: 900;
	transition: top 0.4s cubic-bezier(0.32, 0.66, 0.38, 1);
	color: #ddd;
	background-color: #222;
	opacity: 0.99;
}

#menu ul, #menu li {
	padding: 0;
	margin: 0;
	list-style: none;
}

#menu  a {
	display: block;
	padding: 0.5rem 1rem;
}

.subMenu {
	list-style: none;
	margin: 0rem;
	padding-left: 2rem;
}

.subMenu > li {
	padding: 0.5rem;
}

.sep {
	border-top: solid 0.0625rem #333;
	width: 50%;
	margin: 0.3125rem 0rem;
}

.nav-open {
	top: 2.5625rem !important;
}

#header {
	position: sticky;
	top: 0;
	width: 100%;
	height: 2.5625rem;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	background-color: #222;
	border-bottom: solid 0.0625rem #333;
}

#header > div:first-child {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: 0;
}

#header > div:first-child > div {
	margin: 0.625rem;
}

.nav-button {
	width: 2.125rem;
	height: 1.3125rem;
	display: block;
	cursor: pointer;
	margin: auto 0;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.nav-button span {
	display: block;
	position: absolute;
	height: 0.1875rem;
	width: 100%;
	background: #ddd;
	border-radius: 0.4375rem;
	left: 0;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.nav-button span:nth-child(1) {
	top: 0;
}

.nav-button span:nth-child(2), .nav-button span:nth-child(3) {
	top: 0.5625rem;
}

.nav-button span:nth-child(4) {
	top: 1.125em;
}

.nav-button.open span:nth-child(1) {
	top: 0.5625rem;
	width: 0%;
	left: 50%;
}

.nav-button.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.nav-button.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.nav-button.open span:nth-child(4) {
	top: 0.5625rem;
	width: 0%;
	left: 50%;
}

#RHeader {
	display: flex;
	margin: 0 !important;
	margin-right: 0.625rem !important;
}

#RHeader > :not(:last-child) {
	margin-right: 0.3125rem;
}

#RHeader > div {
	width: 2rem;
	height: 2rem;
	background-size: contain;
}

#log {
	background-image: url("../img/user.png");
	background-color: #ddd;
	background-size: 68% !important;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 100%;
}

#log > div:last-child {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 2.625rem;
	right: 3rem;
	background: #ddd;
	color: #333;
	padding: 0.625rem;
}

#log > div:last-child > :not(:last-child) {
	margin-bottom: 0.3125rem;
}

.textOverflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#cart {
	position: relative;
	background-image: url("../img/caddie.png");
}

#cart > div:first-child {
	display: none;
	justify-content: center;
	position: absolute;
	bottom: 0rem;
	right: -0.3125rem;
	min-width: 35%;
	font-size: 0.625rem;
	border: solid 0.125rem blue;
	background: blue;
	border-radius: 1rem;
}

#cart > div:first-child:after {
	content: "";
	display: block;
	margin-bottom: -5%;
}

#cart > div:last-child {
	position: fixed;
	top: 2.625rem;
	right: 0rem;
	max-width: 19.375rem;
	width: 90%;
	background: #ddd;
	color: #333;
	padding: 0.625rem;
}

#cart > div:last-child > div {
	margin: 0.3125rem;
}

.cartList {
	position: relative;
	display: inline-grid;
	width: 100%;
	max-height: 10rem;
	overflow-y: scroll;
}

.cartList:empty:before {
	content: "Cart Empty";
	text-align: center;
}

.cartList::-webkit-scrollbar {
	width: 1rem;
}

.cartList::-webkit-scrollbar-thumb {
	background: rgba(51, 51, 51, 0.5);
	border-radius: 0.625rem;
}

.cartList > a {
	position: relative;
	display: block;
	color: inherit;
	padding: 0.3125rem;
}

.cartList > a > img {
	width: 5rem;
	height: 5rem;
	float: left;
	object-fit: contain;
}

.cartList > a > p {
	font-size: 1rem;
	padding-left: 1rem;
	margin: 0;
}

.cartList > a > p:first-of-type {
	margin-top: 0.75rem;
	font-weight: bold;
}

.cartList > a > p:not(:first-of-type):not(:last-of-type) {
	font-size: 0.75rem;
}

.cartList > a > p:last-of-type {
	text-align: right;
}

#cart > div:last-child > div:last-child {
	margin-bottom: 0rem;
}

#cart > div:last-child > div:last-child > a {
	display: block;
	background: #333;
	padding: 0.625rem;
	text-align: center;
}

.remove{
	position: absolute;
	background: rgba(255, 255, 255, 0);
	color: #333;
	border-radius: 100%;
	top: 0rem;
	right: 0rem;
	width: 1.0625rem;
	height: 1.0625rem;
	padding: 0.125rem;
	transition: background 0.5s;
}

.remove:hover{
	background: rgba(0, 200, 255, 1);
}

#loadingScreen {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0rem;
}

#loadingScreen > div {
	width: 20rem;
	height: 10rem;
	background-color: #ddd;
	color: #333;
	border-radius: 0.625rem;
}

#content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	color: #ddd;
}

#content > div {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	text-align: center;
}

#newLocFile, #filterProducts {
	width: 100%;
	margin: 0rem 0.625rem;
}

#newProduct > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.625rem;
	margin-bottom: 0rem;
}

#list {
	width: 100%;
	padding: 1rem;
}

.viewer {
	display: flex;
	flex-direction: row;
	border: solid 0.0625rem #ddd;
	border-radius: 0.625rem;
}

.viewer > div:last-child > img {
	width: 10rem;
	height: 10rem;
	object-fit: contain;
}

.viewer > div:last-child {
	width: 10rem;
	height: 10rem;
	padding: 0.625rem;
}

.miniViewer {
	display: flex;
	max-height: 10rem;
	flex-direction: column;
	padding: 0.625rem;
	overflow-y: overlay;
}

.miniViewer::-webkit-scrollbar {
	display: none;
}

.miniViewer > img {
	width: 5rem;
	height: 5rem;
	margin: 0.3125rem 0rem;
	background-color: #ddd;
	object-fit: contain;
}

.bigViewer {
	position: fixed;
	display: none;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	top: 0rem;
	left: 0rem;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	color: #ddd;
	z-index: 999;
}

.bigViewer > img {
	max-width: 100%;
	max-height: 70%;
	object-fit: contain;
}

.bigViewer > div {
	display: flex;
	justify-content: space-between;
	width: 80%;
	height: 15%;
	overflow-x: overlay;
}

.bigViewer > div::-webkit-scrollbar {
	display: none;
}

.bigViewer > div > img {
	height: 100%;
	padding: 0rem 0.625rem;
	object-fit: contain;
}

#lens {
	position: absolute;
	background-color: rgba(221, 221, 221, 0.5);
}

#zoom {
	display: none;
	position: absolute;
	left: 30%;
	top: 5%;
	background-repeat: no-repeat;
	border-radius: 0.625rem;
	box-shadow: -0.3125rem 0.3125rem 2rem #222;
}


/* List like disposition */
.lst {
	display: flex;
	flex-direction: column !important;
	align-items: center;
}

.lst .sticker {
	width: 100%;
	height: 5rem;
	display: flex;
	flex-direction: row;
	border: solid 1px #ddd;
	margin: 1rem 0rem;
}

.lst .sticker * {
	padding: 0rem 0.3125rem;
}

/* Product prev image */
.lst .sticker > div:nth-child(1) > img {
	width: 5rem;
	height: 5rem;
	object-fit: contain;
}

/* Product title and description */
.lst .sticker > div:nth-child(2) {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.lst .sticker > div:nth-child(2) > * {
	padding: 0.3125rem 0rem;
}

.lst .sticker > div:nth-child(2) > :nth-child(1) {
	font-size: 0.875rem;
	font-weight: bold;
}

.lst .sticker > div:nth-child(2) > :nth-child(2) {
	font-size: 0.6875rem;
}

.lst .sticker > div:nth-child(2) > :nth-child(3) {
	display: none;
	position: absolute;
	height: -webkit-fill-available; /* Check comptability */
	right: 0rem;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.75);
}

.lst .sticker > div:nth-child(2) :nth-child(3) > input {
	height: 1.3125rem;
	width: 50%;
	text-align: center;
}

/* Product price and buying buttons */
.lst .sticker > div:nth-child(3) {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.lst .sticker > div:nth-child(3) > :nth-child(n+2) {
	display: flex;
	height: 2rem;
	justify-content: center;
	align-items: center;
}

.lst .sticker > div:nth-child(3) > :nth-child(1) {
}

.lst .sticker > div:nth-child(3) > :nth-child(2) {
}

.lst .sticker > div:nth-child(3) > :nth-child(3) {
	display: none;
}

/* Sticker like disposition */
.stk {
	display: flex;
	flex-direction: row !important;
	flex-wrap: wrap;
	justify-content: center;
}

.stk .sticker {
	position: relative;
	height: 18rem;
	width: 7.625rem;
	display: flex;
	flex-direction: column;
	border: solid 1px #ddd;
	margin: 0.625rem 0.3125rem;
	padding: 0rem 0.3125rem;
}

/* Product prev image */
.stk .sticker > div:nth-child(1) > img {
	width: 7rem;
	height: 7rem;
	object-fit: contain;
}

/* Product title and description */
.stk .sticker > div:nth-child(2) {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.stk .sticker > div:nth-child(2) > * {
	padding: 0.3125rem 0rem;
}

.stk .sticker > div:nth-child(2) > :nth-child(1) {
	font-weight: bold;
}

.stk .sticker > div:nth-child(2) > :nth-child(2) {
	font-size: 0.6875rem;
}

.stk .sticker > div:nth-child(2) > :nth-child(3) {
	cursor: default;
	position: absolute;
	height: inherit;
	bottom: 0rem;
	display: none;
	align-items: flex-end;
	justify-content: center;
	background: linear-gradient(rgba(0, 0, 0, 0.75) 90%, transparent 100%);
	
}

.stk .sticker > div:nth-child(2) :nth-child(3) > input {
	height: 1.3125rem;
	width: 50%;
	text-align: center;
	margin-bottom: 1rem;
}

/* Product price and buying buttons */
.stk .sticker > div:nth-child(3) {
	height: 4.115rem;
}

.stk .sticker > div:nth-child(3) > :nth-child(n+2) {
	position: absolute;
	width: 100%;
	bottom: 0rem;
	left: 0rem;
	display: flex;
	height: 2rem;
	justify-content: center;
	align-items: center;
}

.stk .sticker > div:nth-child(3) > :nth-child(1) {
	position: absolute;
	top: 0rem;
	right: 0rem;
}

.stk .sticker > div:nth-child(3) > :nth-child(2) {
}

.stk .sticker > div:nth-child(3) > :nth-child(3) {
	display: none;
}

.element {
	display: flex;
	flex-direction: column !important;
	width: 100%;
	margin: 0.625rem 0rem;
}

.element:not(:first-child) {
	border-top: 0.0625rem solid #ddd;
}

.col {
	display: flex;
	flex-direction: column !important;
}

.vCardContainer {
	position: absolute;
	background-color: #ddd;
	border: none;
	width: 80%;
	margin: auto;
	padding: 0.625rem;
	color: #333;
}

.vCardContainer > div:last-child {
	overflow-y: auto;
	max-height: 15rem;
}

.visitCard {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.625rem 0rem;
	padding: 0.3125rem;
	border: 0.125rem solid #333;
}

.vcActive {
	border: 0.125rem solid blue !important;
}

.row {
	width: 100%;
	display: flex;
	flex-direction: row !important;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0.625rem 0rem;
}

.row > * {
	margin: 0.3125rem;
}

.crow {
	width: 100%;
	display: flex;
	flex-direction: row !important;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0.625rem 0rem;
}

.crow > * {
	margin: 0.3125rem;
}

.align-right {
	justify-content: flex-end;
}

.align-left {
	justify-content: flex-start;
}

#footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 2.125rem;
	border-top: solid 0.0625rem #333;
}

#footer div span {
	text-align: center;
}

#footer > :first-child {
	margin-top: 0.625rem;
}

#footer > :last-child {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#footer > :nth-child(odd) span {
	font-weight: bold;
}

#footer > :nth-child(even) {
	margin-bottom: 1.25rem;
}

#footer > :last-child a {
	margin: 0.3125rem;
}

#InfosText {
	display: flex;
	justify-content: center;
}
