<!DOCTYPE html>

<html lang="fr">
	<head>
		<%- include ("../common/head.html") %>
		<title>
		</title>
	</head>
	<body>
		<div id="container">
			<%- include ("../common/manage_menu.html") %>
			<div id="header">
				<%- include ("../common/header.html") %>
			</div>
			<div id="content">
				<div class="element">
					<div>
						<div class="custom-select">
							<select id="lang">
							</select>
						</div>
						<input id="newLocFile" type="text">
						<button id="addLocFile"></button>
					</div>
				</div>
				<div id="keyList" class="element">
				</div>
			</div>
			<div id="footer">
				<%- include ("../common/footer.html") %>
			</div>
		</div>
	</body>
</html>
