<!DOCTYPE html>

<html lang="fr">
	<head>
		<%- include ("../common/head.html") %>
		<title></title>
	</head>
	<body>
		<div id="container">
			<%- include ("../common/manage_menu.html") %>
			<div id="header">
				<%- include ("../common/header.html") %>
			</div>
			<div id="content">
				<div class="element">
					<div class="row">
						<div class="custom-select cat">
							<select id="cat">
							</select>
						</div>
						<input id="newCat" type="text">
						<button id="addCat" name="add"></button>
					</div>
				</div>
				<div id="catList" class="element">
				</div>
			</div>
			<div id="footer">
				<%- include ("../common/footer.html") %>
			</div>
		</div>
	</body>
</html>
